---
const { job } = Astro.props
---

<div
  class='flex relative gap-2 bg-linear-to-br from-slate-800 to-slate-900
            rounded-xl p-6 shadow-lg justify-between max-w-96'
>
  <div class='absolute w-1 h-full bg-emerald-400 m-0 top-0'></div>
  <div class='ml-4'>
    <h3 class='text-emerald-400 text-lg font-semibold'>{job.position}</h3>
    <span class='text-white font-medium mt-1'>{job.company}</span>
    <span class='text-slate-400 text-sm mt-1'>{job.duration}</span>
    <p class='text-slate-200 mt-4 leading-relaxed'>{job.description}</p>
  </div>
</div>
