---
import CardExperience from '@components/CardExperience.astro'
import { data } from '@mocks/experience.json'
import SectionInfo from './SectionInfo.astro'
---

<div
  class='sm:grid lg:grid-cols-2 gap-8 w-full lg:max-w-4xl mx-auto scroll-m-20 container md:max-w-2xl'
>
  <SectionInfo
    title='Experiencia Laboral'
    description='Estos son las experiencias que pude obtoner a lo largo de mi carrera profesional.'
  />
  <div class='grid gap-4 min-w-64 justify-items-center'>
    {data.map((job) => <CardExperience job={job} />)}
  </div>
</div>
