---
// import myPhoto from '../assets/My_New_Photo.png'
---

<section
  class='flex gap-2 items-center flex-col sm:flex-row justify-center my-32'
>
  <div
    class='relative flex max-h-full flex-col justify-center sm:max-w-2/5 mx-8'
  >
    <h1 class='text-2xl font-bold text-gray-700'>Mi perfil</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore vero,
      molestias, repudiandae nobis ipsa tempore optio modi cupiditate natus
      quasi autem laboriosam porro dicta error iusto fuga! Tempora,
      reprehenderit aperiam.
    </p>
  </div>
  <!-- <img class='rounded-full max-w-48 max-h-48' src={myPhoto.src} alt='' /> -->
</section>
