---
// import myPhoto from '../assets/My_New_Photo.png'
---

<section
  class='flex gap-2 items-center flex-col justify-center w-full lg:max-w-4xl mx-auto py-16 md:py-36 scroll-m-20 container md:max-w-2xl'
>
  <div class='relative flex max-h-full flex-col justify-center mx-8'>
    <h1 class='text-4xl font-bold text-gray-700'>Hola, Soy Issa</h1>
    <p class='text-xl text-gray-300'>
      Egresado de la carrera de <span class='font-bold text-[#4c9f70]'
        >Ingeniería de Sistemas</span
      > de Lima, Perú. Impulsado por una pasión hacia el desarrollo backend.
    </p>
    <div class='flex gap-2 mt-4'>
      <button class='border rounded-full px-2 bg-[#4c9f70] border-[#496f5d]'
        >Linkedin</button
      >
      <button class='border rounded-full px-2 bg-[#4c9f70] border-[#496f5d]'
        >Contact Me</button
      >
    </div>
  </div>
  <!-- <img class='rounded-full max-w-48 max-h-48' src={myPhoto.src} alt='' /> -->
</section>
