---
import { data } from '@mocks/projects.json'
import Cards from '@components/CardProject.astro'
import SectionInfo from './SectionInfo.astro'
---

<section
  class='grid lg:grid-cols-3 w-full lg:max-w-4xl mx-auto py-16 md:py-36 scroll-m-20 container md:max-w-2xl'
>
  <SectionInfo
    title='Proyectos'
    description='Estos son algunos de mis proyectos'
  />
  <div class='flex flex-col gap-4 items-center lg:order-first lg:col-span-2'>
    {data.map((project) => <Cards info={project} />)}
  </div>
</section>
