---
import Logo from '@assets/logo_empresa.png'
---

<!doctype html>
<html lang='es' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={Logo.src} />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Issa Ostos Hotta</title>

    <script is:inline>
      const theme = localStorage.getItem('theme')

      if (
        theme === 'dark' ||
        (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      }
    </script>
  </head>

  <body
    class='bg-linear-to-br from-sky-600 via-sky-400 to-sky-700
           dark:from-slate-950 dark:via-slate-800 dark:to-slate-950
           text-slate-200 dark:text-slate-300 font-semibold min-h-screen transition-colors duration-300 font-[Onest]'
  >
    <slot />
  </body>
</html>
